@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #334147;
  box-shadow: -1px -1px 10px gray;
}

.bg_transparent{
  background: transparent;
}

.bg_colored{
  background-color: #cdebff;
}

.navbar h2 {
  text-transform: uppercase;
  color: black;
}

#menu {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: auto 1em;
}

.navbar li:hover{
  border-bottom:1px solid teal;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar div {
  display: flex;
}

.navbar span {
  display: none;
  cursor: pointer;
}

.social_link {
  background: #58aaf6;
  color: white;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  /* align-items: center; */
  text-align: center;
}

.active{
  border-bottom:1px solid teal;
}

/* Home */

.home {
  width: 100%;
  height: 50vh;
  background: url(../images/background2.svg),
    linear-gradient(to top right, #ffffff, #ffffff, #4bc1f8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  height: 25rem;
  width: 30rem;
  margin: 0 20%;
  padding: 1%;
}

.container1 h1 {
  font-size: 3.5rem;
}

.container1 span {
  color: #00aeff;
}

.container1 p {
  font-size: 1.2rem;
  color: #607d8b;
}

.container1 button {
  background-color: #00aeff;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 1% auto;
}


/* Parthers */

.brands{
  width:70%;
  margin:2rem auto;
  height: 11rem;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.brands h2{
  text-align: center;
  
}

.brands div{
  display: flex;
  width: 100%;
  background-color: #F5F5F5;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #9fa4a7;
  font-weight: bolder;
}

.brands h1{
  font-size: 1.5rem;
}

/* services */

.services{
  width: 90%;
  margin: 1rem auto;
  /* background-color: green; */
}
.services h1{
  text-align: center;
  margin : 1rem auto;
}

.services p{
  text-align: center;
  margin : 1rem auto;
}

.grid_container{
  display: grid;
  grid-template-columns: repeat(3,32%);
  /* grid-template-rows:repeat(2,50rem); */
  column-gap: 2%;
  row-gap: 3%;
}

.grid_item{
  padding:7%;
  /* background-color: royalblue; */
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: -1px -1px 15px rgb(182, 178, 178);
}

.grid_item h1{
  /* margin: 1% auto; */
  font-size: 1.6vw;
}

.grid_item p{
  /* padding : 10% 2%; */
  text-align: justify;
  font-size: 1.2vw;
}

.grid_item img{
  height: 40%;
  width: 70%;
  display: block;
  margin: 0 auto;
}


@media screen and (max-width: 1100px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    height: 3.5rem;
  }
  #menu{
    width: 100%;
  }
  /* brands */

  .brands{
    width: 100%;
  }

  .brands h1{
    font-size: 1.5rem;
  }

  .grid_container{
    grid-template-columns: repeat(2,48%);
  }

  .grid_item h1{
    font-size: 2vw;
  }

  .grid_item p{
    font-size: 1.8vw;
  }


}

@media screen and (max-width: 800px) {
  /* Navbar */
  .navbar {
    padding: 0;
    height: 3rem;
  }

  .navbar h2 {
    font-size: 1rem;
  }

  .navbar div {
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .navbar span {
    display: block;
  }

  #menu {
    display: none;
    background-color: #bebaba80;
    color: black;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }

  .navbar li {
    margin: 1rem 1rem;
  }

  /* Home */

  .container1 {
    margin-top: 3rem;
    width: 70%;
  }

  .container1 h1 {
    font-size: 2rem;
  }

  .container1 p {
    font-size: 0.8rem;
  }

  /* brands */

  .brands{
    height: 30rem;
  }

  .brands div{
    flex-direction: column;
    width: 50%;
    margin: 1% auto;
  }

  /* .grid_container{
    grid-template-columns:100%;
    row-gap: 1%;
  }

  .grid_item h1{
    font-size: 4vw;
  }

  .grid_item p{
    font-size: 2.6vw;
  } */

}

@media screen and (max-width:600px) {
  .brands div{
    width: 80%;
  }

  .grid_container{
    grid-template-columns:100%;
    row-gap: 1%;
  }

  .grid_item h1{
    font-size: 4vw;
  }

  .grid_item p{
    font-size: 3.6vw;
  }
}
