@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 3rem;
  background: transparent;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #334147;
  box-shadow: -1px -1px 10px gray;
}

.navbar h2 {
  text-transform: uppercase;
  color: black;
}

#menu {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: auto 1em;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar div {
  display: flex;
}

.navbar span {
  display: none;
  cursor: pointer;
}

.social_link {
  background: #58aaf6;
  color: white;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  /* align-items: center; */
  text-align: center;
}

.active{
  border-bottom:1px solid teal;
}

/* Home */

.home {
  width: 100%;
  height: 70vh;
  background: url(../images/background2.svg),
    linear-gradient(to top right, #ffffff, #ffffff, #4bc1f8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  height: 25rem;
  width: 30rem;
  margin: 0 20%;
  padding: 1%;
}

.container1 h1 {
  font-size: 3.5rem;
}

.container1 span {
  color: #00aeff;
}

.container1 p {
  font-size: 1.2rem;
  color: #607d8b;
}

.container1 button {
  background-color: #00aeff;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 1% auto;
}


/* Parthers */

.brands{
  width:70%;
  margin:2rem auto;
  height: 11rem;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.brands h2{
  text-align: center;
  
}

.brands div{
  display: flex;
  width: 100%;
  background-color: #F5F5F5;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #9fa4a7;
  font-weight: bolder;
}

.brands h1{
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    height: 3.5rem;
  }

  /* brands */

  .brands{
    width: 100%;
  }

  .brands h1{
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 800px) {
  /* Navbar */
  .navbar {
    padding: 0;
    height: 3rem;
  }

  .navbar h2 {
    font-size: 1rem;
  }

  .navbar div {
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .navbar span {
    display: block;
  }

  #menu {
    display: none;
    background-color: #bebaba80;
    color: black;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }

  .navbar li {
    margin: 1rem 1rem;
  }

  /* Home */

  .container1 {
    margin-top: 3rem;
    width: 70%;
  }

  .container1 h1 {
    font-size: 2rem;
  }

  .container1 p {
    font-size: 0.8rem;
  }



  /* brands */

  .brands{
    height: 30rem;
  }

  .brands div{
    flex-direction: column;
    width: 50%;
    margin: 1% auto;
  }

}


@media screen and (max-width:600px) {
  .brands div{
    width: 80%;
  }
}
