@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #334147;
  box-shadow: -1px -1px 10px gray;
}

.bg_transparent {
  background: transparent;
}

.bg_colored {
  background-color: #cdebff;
}

.navbar h2 {
  text-transform: uppercase;
  color: black;
}

#menu {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: auto 1em;
}

.navbar li:hover {
  border-bottom: 1px solid teal;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar div {
  display: flex;
}

.navbar span {
  display: none;
  cursor: pointer;
}

.social_link {
  background: #58aaf6;
  color: white;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  /* align-items: center; */
  text-align: center;
}

.active {
  border-bottom: 1px solid teal;
}

/* Home */

.home {
  width: 100%;
  height: 50vh;
  background: url(../images/background2.svg),
    linear-gradient(to top right, #ffffff, #ffffff, #4bc1f8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  height: 25rem;
  width: 30rem;
  margin: 0 20%;
  padding: 1%;
}

.container1 h1 {
  font-size: 3.5rem;
}

.container1 span {
  color: #00aeff;
}

.container1 p {
  font-size: 1.2rem;
  color: #607d8b;
}

.container1 button {
  background-color: #00aeff;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 1% auto;
}

/* Parthers */

.brands {
  width: 70%;
  margin: 2rem auto;
  height: 11rem;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.brands h2 {
  text-align: center;
}

.brands div {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #9fa4a7;
  font-weight: bolder;
}

.brands h1 {
  font-size: 1.5rem;
}

/* services */

.services {
  width: 90%;
  margin: 1rem auto;
  /* background-color: green; */
}
.services h1 {
  text-align: center;
  margin: 1rem auto;
}

.services p {
  text-align: center;
  margin: 1rem auto;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  column-gap: 2%;
  row-gap: 3%;
}

.grid_item {
  padding: 7%;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: -1px -1px 15px rgb(182, 178, 178);
}

.grid_item h1 {
  font-size: 1.6vw;
}

.grid_item p {
  text-align: justify;
  font-size: 1.2vw;
}

.grid_item img {
  height: 40%;
  width: 70%;
  display: block;
  margin: 0 auto;
}

.grid_container_2 {
  width: 85%;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2%;
}

.grid_item_2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  column-gap: 2%;
  align-items: center;
}

.grid_item_2 img,
.grid_item_2_rev img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.grid_item_2 div,
.grid_item_2_rev div {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.grid_item_2 h1,
.grid_item_2_rev h1 {
  font-size: 3vw;
  margin: 2rem auto;
}

.grid_item_2 p,
.grid_item_2 ul,
.grid_item_2_rev ul {
  font-size: 2vw;
}

.grid_item_2 ul,
.grid_item_2_rev ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid_item_2 li:before,
.grid_item_2_rev li:before {
  content: "✓";
  font-weight: bolder;
  color: darkcyan;
}

.grid_item_2 button,
.grid_item_2_rev button {
  width: 7rem;
  height: 4rem;
  margin: 2% auto;
  background-color: skyblue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

/* prices */

.prices {
  width: 60%;
  margin: 1rem auto;
  text-align: center;
}

/* grid 3 */

.included:before {
  content: "✓";
  color: darkcyan;
}

.not_included:before {
  content: "\00d7";
  color: gray;
}

.grid_container_3 {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 1%;
}

.grid_container_3 ul {
  list-style: none;
  padding: 1% 5%;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: -1px -1px 15px rgb(182, 178, 178);
}

.grid_container_3 li {
  margin: 1rem auto;
  font-size: 1rem;
}

.grid_container_3 ul h1,
.grid_container_3 ul p {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.price {
  width: 80%;
  padding: 20% auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00aeff;
  border-top: 1px solid gray;
}

.duration {
  width: 80%;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid gray;
}

.grid_container_3 button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 60%;
  background-color: rgb(1, 199, 199);
  color: white;
  padding: 5px;
  border-radius: 10px;
}

/* contact */

.contact {
  width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  column-gap: 1%;
  text-align: justify;
}

.contact ul {
  width: 55%;
  list-style: none;
  margin-left: auto;
}

.contact li {
  font-size: 1.1rem;
}

.para {
  font-size: 1.3rem;
}

.contact form {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact_input {
  height: 2.6rem;
  padding: 1rem;
}

.contact button {
  background-color: #00aeff;
  color: white;
  height: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.contact a {
  color: darkcyan;
  text-decoration: none;
}

/* testimonial */
.testimonial {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    #4bc1f8,
    #4bc1f8,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  display: grid;
  grid-template-columns: repeat(2, 48%);
  column-gap: 2%;
}

.testimonial img {
  height: 30rem;
  display: block;
  margin: auto;
}

.testimonial div {
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#avatar {
  height: 10rem;
  margin: 1rem auto;
}

.testimonial h1 {
  font-size: 3rem;
}

#review {
  font-size: 1.4rem;
  text-align: justify;
}

#name {
  font-size: 1.8rem;
}

@media screen and (max-width: 1100px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    height: 3.5rem;
  }
  #menu {
    width: 100%;
  }
  /* brands */

  .brands {
    width: 100%;
  }

  .brands h1 {
    font-size: 1.5rem;
  }

  .grid_container {
    grid-template-columns: repeat(2, 48%);
  }

  .grid_item h1 {
    font-size: 2vw;
  }

  .grid_item p {
    font-size: 1.8vw;
  }

  /* grid 2 */

  .grid_container_2 {
    margin-top: 15rem;
    width: 100%;
  }

  .grid_item_2 {
    width: 100%;
    grid-template-columns: repeat(2, 49%);
    column-gap: 1%;
  }

  /* prices */
  .prices {
    width: 80%;
  }

  .grid_container_3 {
    width: 95%;
  }

  /* contact */

  .contact {
    width: 100%;
  }

  .contact ul,
  .contact form {
    width: 90%;
  }

  /* testimonial */

  .testimonial div {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  /* Navbar */
  .navbar {
    padding: 0;
    height: 3rem;
  }

  .navbar h2 {
    font-size: 1rem;
  }

  .navbar div {
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .navbar span {
    display: block;
  }

  #menu {
    display: none;
    background-color: #bebaba80;
    color: black;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }

  .navbar li {
    margin: 1rem 1rem;
  }

  /* Home */

  .container1 {
    margin-top: 3rem;
    width: 70%;
  }

  .container1 h1 {
    font-size: 2rem;
  }

  .container1 p {
    font-size: 0.8rem;
  }

  /* brands */

  .brands {
    height: 30rem;
  }

  .brands div {
    flex-direction: column;
    width: 50%;
    margin: 1% auto;
  }

  /* grid 2 */
  .grid_item_2 {
    grid-template-columns: 100%;
    row-gap: 0;
  }

  .grid_item_2 img,
  .grid_item_2_rev img {
    height: 20rem;
  }

  .grid_item_2 h1,
  .grid_item_2_rev h1 {
    font-size: 8vw;
  }

  .grid_item_2 p,
  .grid_item_2 ul,
  .grid_item_2_rev ul {
    font-size: 4vw;
  }

  .grid_item_2_rev {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 4%;
  }

  .grid_item_2_rev img:nth-child(1) {
    order: 2;
  }
  .grid_item_2_rev div:nth-child(2) {
    order: 1;
  }

  .grid_container_3 {
    grid-template-columns: repeat(2, 49%);
    column-gap: 1%;
    row-gap: 1%;
  }
  /* contact */
  .contact {
    grid-template-columns: 100%;
    /* grid-template-rows: repeat(2,30vh); */
    row-gap: 2rem;
  }

  .contact ul,
  .contact form {
    width: 80%;
    height: 100%;
    margin: auto;
  }

  .contact_input {
    margin: 0.5rem auto;
    width: 100%;
  }

  .contact button {
    margin: 0.5rem auto;
    width: 100%;
  }

  /* testimonial */

  .testimonial {
    grid-template-columns: 100%;
    column-gap: 2rem;
  }

  .testimonial img {
    height: 20rem;
  }

  .testimonial div {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .brands div {
    width: 80%;
  }

  .grid_container {
    width: 95%;
    margin: auto;
    grid-template-columns: 100%;
    row-gap: 1%;
  }

  .grid_item {
    width: 100%;
    height: 70vh;
  }

  .grid_item h1 {
    font-size: 4vw;
  }

  .grid_item p {
    font-size: 3.6vw;
  }

  .prices {
    width: 100%;
  }

  .grid_container_3 {
    grid-template-columns: 100%;
  }
}
